html, body { background: #0a3042; color: white; padding: 0; margin: 0; }
* { font: 1rem/1.5 "Segoe UI", Inter, sans-serif; }

.controller-title { background-color: #39495e; padding: .6rem; font-size: .9rem; font-weight: bold; text-align: center;  }

.activeState-button {
    display: block;
    background-color: transparent;
    border: 0;
    margin: auto;
    padding: 0;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    width: 80px;
    cursor: pointer;
}

.activeState-button > svg > path { fill: red; }
.activeState-button.active > svg > path { fill: #568df3; }

.activeState-button-wrapper { padding: 1rem; }

